[submodule "submodules/desk"]
	path = submodules/desk
	url = git@github.com:jamesob/desk.git
[submodule "submodules/fzf"]
	path = submodules/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "submodules/devicons-shell"]
	path = submodules/devicons-shell
	url = git@github.com:ryanoasis/devicons-shell.git
