[submodule "submodules/desk"]
	path = submodules/desk
	url = git@github.com:jamesob/desk.git
[submodule "submodules/pack/lib/start/AutoComplPop"]
	path = submodules/pack/lib/start/AutoComplPop
	url = git@github.com:vim-scripts/AutoComplPop.git
[submodule "submodules/pack/lib/opt/editorconfig"]
	path = submodules/pack/lib/start/editorconfig
	url = git@github.com:editorconfig/editorconfig-vim
[submodule "submodules/pack/c-lang/opt/tagbar"]
	path = submodules/pack/c-lang/opt/tagbar
	url = git@github.com:majutsushi/tagbar
[submodule "submodules/pack/base/opt/auto-pairs"]
	path = submodules/pack/base/start/autopair
	url = git@github.com:jiangmiao/auto-pairs
[submodule "submodules/pack/wiki/start/vimwiki"]
	path = submodules/pack/wiki/start/vimwiki
	url = git@github.com:vimwiki/vimwiki
[submodule "submodules/fzy"]
	path = submodules/fzy
	url = https://github.com/jhawthorn/fzy.git
